form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    width: 250px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px gray;

    button {
        border-radius: 5px;
        width: 100px;
        margin: auto;
    }

    button:hover {
        background-color: black;
        color: white;
    }

}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    h1 {
        text-align: center;
        width: 350px;
        margin: 20px auto
    }
}